#nav{height: 30px; background-color: #f2f2f2;}
#nav .container{line-height: 30px;}
#sousuo{height: 131px;}
#sousuo .sousuo2{width: 339px;height:61px;margin-top: 39px;}
#sousuo .sousuo2 .txt{ width:260px;height: 28px;border: 2px solid #F62648;border-right: 0 none; }
#sousuo .sousuo2 .btn{ width:72px;height: 32px;background:#F62648; }
#sousuo .sousuo2 p{line-height: 30px;}
#sousuo .sousuo2 p a{padding-left: 8px;color:red;}
#daohang{height: 40px;background-color: #F62648;}
#daohang .daphang_l{line-height: 40px;color: white;font-size: 15px;background-color: #D62340;width: 220px;text-align: center;}
#daohang .daphang_c a{display: inline-block;width: 220px;line-height: 40px;color: white;font-size: 15px;text-align: center;}
#temai .tu{width: 490px;height: 269px;}
#temai .tu p{font-size: 16px;line-height: 53px;}
.goods li{display:inline-block;border:1px solid #ddd;/*padding:10px;*/margin:7px;}
 .goods li:hover{background-color:#efefef;}
        .goods .price{color:#f00;font-weight:bold;}
        .goods .price::before{
            content:"￥";}
            .w1000{width:1000px;margin:0px auto; overflow:hidden;}
.Cfooter{clear:both;background:#fff; overflow:hidden; }

.Cfooter_service ul{height: 138px; border-bottom:1px dotted #c1c1c1;}
.Cfooter_service ul li{ display:inline-block; background-image: url(//h5rsc.vipstatic.com/lefeng_pc/build/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; height: 79px;  width:215px; margin:30px auto; margin-left: 107px; }
.Cfooter_service ul li.li01{background-position: 0 -197px;}
.Cfooter_service ul li.li02{background-position: 0 -278px;}
.Cfooter_service ul li.li03{background-position: 0 -359px;}

.Cfooter-info{height:250px;  font-family:Microsoft YaHei;}
.Cfooter-info dl{height:250px; border-bottom:1px dotted #c1c1c1;}
.Cfooter-info dt{float:left;width:216px; padding:30px 30px 0 0;}
.Cfooter-info dt strong{display:block; width:174px; height:112px;   background-position: -315px -259px; margin-top:10px;}
.Cfooter-info dt em{display:block; text-indent: 8px; }
.Cfooter-info dd{float:left;padding:20px 65px 0 0;}
.Cfooter-info dd strong{font-size:16px;line-height:80px;font-weight:normal;}
.Cfooter-info dd a{display:block; line-height:22px;}
.Cfooter-info .f-sao1,.Cfooter-info .f-sao2{width:90px;}
.Cfooter-info .f-sao1 b,.Cfooter-info .f-sao2 b{display:block;width:77px;height:77px;border:1px solid #ccc;  background-position: -229px -368px;  padding:4px;}
.Cfooter-info .f-sao2 b{  background-position: -311px -368px;}

.Cfooter-cr{width:1000px;margin:31px auto 0px auto;line-height:22px;text-align: center; overflow:hidden; color: #999;}
.Cfooter-cr a{ display: inline-block; padding:0 10px}
.Cfooter-cr-a{margin-bottom: 20px;}
.Cfooter-cr-a>a{padding-right:70px !important; color:#000;}
.Cfooter-cr-info{ margin: 10px 0;}
.Cfooter-cr .carial b {font-family: Tahoma;}
.Cfooter-cr-img{clear:both;padding:10px 0 20px; }
.Cfooter-cr-img b { display:inline-block; height:40px; line-height:321px; margin:0 20px 0 0; overflow:hidden; width:112px;}
.Cfooter-cr-img a{margin-right:20px;display:inline-block; width:110px;height:40px;overflow:hidden; padding:0 !important; line-height:321px;}

.Cfooter-cr a.pjzxlm {background: url() 0 3px no-repeat;}
.Cfooter-cr a.kxwz {height: 36px;background: url()no-repeat;}
.Cfooter-cr a.cxwz {height: 36px;background: url() no-repeat;}



.Cfooter-cr .itrust{height:37px;    background-position: -194px -277px;}
.Cfooter-cr .xfwq{width:104px;background-position:-194px -315px; height:37px;  }


.Cfooter-info dd{ padding-right: 80px;}
.Cfooter-info dd.f-sao1{ padding-right: 0;  margin-left: 35px; }
.Cfooter-info dd.f-sao2{ padding-right: 0px; }
.Cfooter-cr a { padding: 0 20px 0 0;}
.Chead-shopping-wrap{float:right; position:relative; z-index:97}
.Chead-shopping{position: absolute;right: 0; top: 38px; z-index: 98; }
.shopping-btn{ width:136px; height:42px; background-image: url(//h5rsc.vipstatic.com/lefeng_pc/build/23122da223a7da5293a116c8f07f19d6.png);  background-position:0 -112px ; cursor: pointer; }

.shopping-btn strong{margin-right:10px\9;}
.shopping-list{ position:absolute; top:0; right:1px; width:300px; /*filter:alpha(opacity=95);opacity:0.95;*/display:none; z-index: 100; filter:\9;}
.shopping-list-title{ background-image: url(//h5rsc.vipstatic.com/lefeng_pc/build/23122da223a7da5293a116c8f07f19d6.png); background-position:0 -156px; width:300px; height:42px; _overflow:hidden; cursor: pointer;  }


.shopping-btn strong,.shopping-list-title strong{
    line-height: 1em; font: bold 14px/41px Arial;color: #fff; position: relative; width:30px; height: 20px; left: 97px; top:12px;  display: inline-block; text-align: center; margin-right: 8px; text-indent:0; line-height: 1em;}

.shopping-list-title strong{ left:262px; }

.shopping-list-pro{background:#fff; width:278px; padding:10px; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; position:relative;}
.noshop{width: 298px;padding: 30px 0; text-align:center;}
.shopping-list-bar{max-height:490px; margin-bottom:10px;_height:expression(this.scrollHeight > 490 ? "490px" : "auto");}
.shopping-list-barOn{width:291px; width:288px\9; _width:278px;}
.shopping-list-barOn dl{width:275px; _width:258px;}
.shopping-list-barOn dl dd.shopping-pro{width:100px}
.shopping-list-barOn dl dd.shopping-price{width:87px;}
.jscroll-e,.jscroll-h{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
.jscroll-e{right:3px\9;}
.shopping-list dl{height:67px;padding:13px 5px;border-bottom:1px dotted #c1c1c1;; overflow:hidden;}
.shopping-list dl dt{float:left;width:53px;height:67px; text-indent:0}
.shopping-list dl dt img{width:53px;height:67px;border: 1px solid #f3f3f3;}
.shopping-list dd{float:left;height:60px; line-height:20px;overflow:hidden;}
.shopping-list dd a{color:#666;}
.shopping-list .shopping-pro{width:110px;padding:0 10px; text-indent:0}
.shopping-list .shopping-price{width:85px;text-align:right;color:#333;}
.shopping-list .shopping-price em{font-weight:bold; font-size: 12px;color:#f52648;}
.shopping-list .shopping-price a{display:block;font-weight:normal;color:#999;text-decoration:underline;}
.shopping-list p{font-family:Microsoft YaHei;color:#666;}
.shopping-list p b{padding:0 1px;color:#e9254b;font-weight:bold;}
.shopping-list p span b{font:bold 22px Microsoft YaHei;vertical-align: -9%;}
.shopping-list p span b em{font:bold 14px times;}
.shopping-list .goshopping{display: block;float: right;margin-top: -36px; width:100px; height:30px;  background-position: -304px -84px; text-align:center; line-height:30px; color:#fff; text-indent:0; _zoom:1; _display:inline;}




.Chead-shopping-wrap{float:right; position:relative; z-index:97}
.Chead-shopping{position: absolute;right: 0; top: 38px; z-index: 98; }
.shopping-btn{ width:136px; height:42px; background-image: url(//h5rsc.vipstatic.com/lefeng_pc/build/23122da223a7da5293a116c8f07f19d6.png);  background-position:0 -112px ; cursor: pointer; }

.shopping-btn strong{margin-right:10px\9;}
.shopping-list{ position:absolute; top:0; right:1px; width:300px; /*filter:alpha(opacity=95);opacity:0.95;*/display:none; z-index: 100; filter:\9;}
.shopping-list-title{ background-image: url(//h5rsc.vipstatic.com/lefeng_pc/build/23122da223a7da5293a116c8f07f19d6.png); background-position:0 -156px; width:300px; height:42px; _overflow:hidden; cursor: pointer;  }


.shopping-btn strong,.shopping-list-title strong{
    line-height: 1em; font: bold 14px/41px Arial;color: #fff; position: relative; width:30px; height: 20px; left: 97px; top:12px;  display: inline-block; text-align: center; margin-right: 8px; text-indent:0; line-height: 1em;}

.shopping-list-title strong{ left:262px; }

.shopping-list-pro{background:#fff; width:278px; padding:10px; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; position:relative;}
.noshop{width: 298px;padding: 30px 0; text-align:center;}
.shopping-list-bar{max-height:490px; margin-bottom:10px;_height:expression(this.scrollHeight > 490 ? "490px" : "auto");}
.shopping-list-barOn{width:291px; width:288px\9; _width:278px;}
.shopping-list-barOn dl{width:275px; _width:258px;}
.shopping-list-barOn dl dd.shopping-pro{width:100px}
.shopping-list-barOn dl dd.shopping-price{width:87px;}
.jscroll-e,.jscroll-h{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
.jscroll-e{right:3px\9;}
.shopping-list dl{height:67px;padding:13px 5px;border-bottom:1px dotted #c1c1c1;; overflow:hidden;}
.shopping-list dl dt{float:left;width:53px;height:67px; text-indent:0}
.shopping-list dl dt img{width:53px;height:67px;border: 1px solid #f3f3f3;}
.shopping-list dd{float:left;height:60px; line-height:20px;overflow:hidden;}
.shopping-list dd a{color:#666;}
.shopping-list .shopping-pro{width:110px;padding:0 10px; text-indent:0}
.shopping-list .shopping-price{width:85px;text-align:right;color:#333;}
.shopping-list .shopping-price em{font-weight:bold; font-size: 12px;color:#f52648;}
.shopping-list .shopping-price a{display:block;font-weight:normal;color:#999;text-decoration:underline;}
.shopping-list p{font-family:Microsoft YaHei;color:#666;}
.shopping-list p b{padding:0 1px;color:#e9254b;font-weight:bold;}
.shopping-list p span b{font:bold 22px Microsoft YaHei;vertical-align: -9%;}
.shopping-list p span b em{font:bold 14px times;}
.shopping-list .goshopping{display: block;float: right;margin-top: -36px; width:100px; height:30px;  background-position: -304px -84px; text-align:center; line-height:30px; color:#fff; text-indent:0; _zoom:1; _display:inline;}




.Chead-shopping-wrap{float:right; position:relative; z-index:97}
.Chead-shopping{position: absolute;right: 0; top: 38px; z-index: 98; }
.shopping-btn{ width:136px; height:42px; background-image: url(//h5rsc.vipstatic.com/lefeng_pc/build/23122da223a7da5293a116c8f07f19d6.png);  background-position:0 -112px ; cursor: pointer; }

.shopping-btn strong{margin-right:10px\9;}
.shopping-list{ position:absolute; top:0; right:1px; width:300px; /*filter:alpha(opacity=95);opacity:0.95;*/display:none; z-index: 100; filter:\9;}
.shopping-list-title{ background-image: url(//h5rsc.vipstatic.com/lefeng_pc/build/23122da223a7da5293a116c8f07f19d6.png); background-position:0 -156px; width:300px; height:42px; _overflow:hidden; cursor: pointer;  }


.shopping-btn strong,.shopping-list-title strong{
    line-height: 1em; font: bold 14px/41px Arial;color: #fff; position: relative; width:30px; height: 20px; left: 97px; top:12px;  display: inline-block; text-align: center; margin-right: 8px; text-indent:0; line-height: 1em;}

.shopping-list-title strong{ left:262px; }

.shopping-list-pro{background:#fff; width:278px; padding:10px; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; position:relative;}
.noshop{width: 298px;padding: 30px 0; text-align:center;}
.shopping-list-bar{max-height:490px; margin-bottom:10px;_height:expression(this.scrollHeight > 490 ? "490px" : "auto");}
.shopping-list-barOn{width:291px; width:288px\9; _width:278px;}
.shopping-list-barOn dl{width:275px; _width:258px;}
.shopping-list-barOn dl dd.shopping-pro{width:100px}
.shopping-list-barOn dl dd.shopping-price{width:87px;}
.jscroll-e,.jscroll-h{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
.jscroll-e{right:3px\9;}
.shopping-list dl{height:67px;padding:13px 5px;border-bottom:1px dotted #c1c1c1;; overflow:hidden;}
.shopping-list dl dt{float:left;width:53px;height:67px; text-indent:0}
.shopping-list dl dt img{width:53px;height:67px;border: 1px solid #f3f3f3;}
.shopping-list dd{float:left;height:60px; line-height:20px;overflow:hidden;}
.shopping-list dd a{color:#666;}
.shopping-list .shopping-pro{width:110px;padding:0 10px; text-indent:0}
.shopping-list .shopping-price{width:85px;text-align:right;color:#333;}
.shopping-list .shopping-price em{font-weight:bold; font-size: 12px;color:#f52648;}
.shopping-list .shopping-price a{display:block;font-weight:normal;color:#999;text-decoration:underline;}
.shopping-list p{font-family:Microsoft YaHei;color:#666;}
.shopping-list p b{padding:0 1px;color:#e9254b;font-weight:bold;}
.shopping-list p span b{font:bold 22px Microsoft YaHei;vertical-align: -9%;}
.shopping-list p span b em{font:bold 14px times;}
.shopping-list .goshopping{display: block;float: right;margin-top: -36px; width:100px; height:30px;  background-position: -304px -84px; text-align:center; line-height:30px; color:#fff; text-indent:0; _zoom:1; _display:inline;}
/*二级导航===================================================================================*/
.lie>li {width: 220px;background-color: #f5f5f5;}
h6{color: black;font-weight: bold;font-size: 12px;}
.lie li a {color: #666666;}
.lie .lie_l{display: none;}
.lie .lie2{display: none;}
.lie:hover .lie_l{
	display: block;
}
.lie>li:hover .lie2{display: block;}
/*轮播图=============================================================================*/

        .focus img{display: block;}
        .focus{position:relative;overflow:hidden;height: 360px;}
        .focus ul{position:absolute;overflow:hidden;}
        .focus ul li{float:left;}
        .focus .page{position:absolute;right:400px;bottom:0;padding:10px;}
        .focus .page span{display:inline-block;margin:0 5px;width:30px;height:30px;line-height:30px;background-color:rgba(0,0,0,.6);text-align:center;color:#fff;border-radius: 50%;box-shadow:0 0 10px rgba(0,0,0,.5);}
        .focus .page span.active{background-color: rgba(255,0,0,.8);}
        .daphang_c a:hover{
        	background-color: #D62340;
        }
aside{width:50px;height:160px;position:fixed;right:132px;top:200px;border-top:2px solid red;}
aside span:nth-child(2){font-size:25px;color:#FF6400;}
aside span:nth-child(4){display: block;text-align: center;background: #D9D9D9;height:30px;line-height: 30px;cursor:pointer;}
#love{opacity: 0.6;}
